@charset "UTF-8";

/*全体*/
body {
  margin: 0;
}

/*ヘッダー*/
#header {
  margin: 0;
  width: 100%;
  height: 120px;
    border-bottom: solid 1px gray;
}
.header-top {
  height: 60px;
}
.header-top  {
  display: flex;
}
.logo2 {
  margin: 0 auto;
}
.log {
  margin: auto 0;
}
/*nav*/
.header-under {
  width: 100%;
}
.header-under ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-under ul li {
  float: left;
  height: 60px;
  padding-left: 10px;
  text-align: center;
}
.header-under ul li a {
  display:block;
  padding-left: 10px;
  padding-top:10px;
}
.header-under ul li img {
  position: absolute;
  right: 0;
}
/*main*/
#main {
  width: 980px;
  margin: 20px auto 0 auto;
  clear:both;

}
.main-upper {
  display: flex;
  width: 980px;
  justify-content: space-between;
}
.main-left {
  width: 760px;
  margin: 0;
}
.main-side {
  width: 200px;
  margin-left: 20px;
}
.main-side img {
  display:inline-block;
}
.news {
  border: solid 1px gray;
}
.keyvisual {
  margin-top: 20px;
}
.news2 {
  border: solid 1px gray;
  margin-top: 20px;
}
/*main-under*/
.under {
  width: 100%;
}
.under img {
  border: solid 1px gray;
}
/*footer-top*/
#footer {
  width: 980px;
  margin: 0 auto;
}
.footer-top {
  display: flex;
    margin: 0 auto;
    text-align: center;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}
