@charset "UTF-8";


/* 全体 */
body {
    width: 1100px;
    margin: 0;
	padding: 0;


}

/* header */
.header {
    padding: 0;
    text-align: center;
}

.header-upper {
    height: 100px;
    display: flex;
    position: relative;
}
.header-logo {
    position: absolute;
    left: 0;
}
.header-contents {
    position: absolute;
    right: 0;
}

.header-upper p {
    display: inline-block;
    margin-top: 40px;
    margin-right: 10px;
}

.header-lower {
    height: 50px;
    display: flex;
}

/* header-nav */

.header-lower {
    width: 100%;
}

.header-lower ul {
	 margin: 0;
	 padding: 0;
	 list-style-type: none;
     width: 100%;
}
 .header-lower ul li {
	 float: left;
	 width: 25%;
	 text-align: center;
}
.header-lower ul li a {
	 display: block;
	 height: 30px;
     margin-top: 10px;
	 margin: 0;
	 padding: 10px;
	 color: #FFF;
	 font-size: 20px;
	 text-decoration: none;
	 background-color: green;
 }


/* main */

.main {
    display: flex;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.main-left {
    width: 780px;
}
.main-right {
    width: 190px;
}

.main-upper h1 {
    width: 100%;
    margin: 0;
}

.main-upper h2 {
    display: block;
    margin: 0;
}

#main-middle {
    display: flex;
}
